<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Nombre del candidato">
  <ion-content class="padding">
    <img src="img/logo.png" style="width: 64px; height: 64px">
    <p>
      Descripción
    </p>
  </ion-content>
</ion-view>
