<ion-view class="login" view-title="Login">
  <ion-content class="padding">
      <img src="img/logo.png" width="100%;" style="border-radius:3em;">
      <div class="list" style="margin-top:30px;">
          <form ng-submit="connect(login)">
            <label class="item item-input">
                <input type="text" ng-model="login.username" placeholder="Usuario">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="login.pass" placeholder="Contraseña">
            </label>        
            <button type="submit" class="button button-block button-balanced">Iniciar sesión</button>
          </form>
      </div>
  </ion-content>
</ion-view>
