<ion-view view-title="Configuración">
  <ion-content>
    <ion-list>
    <ion-toggle class="balanced"  ng-click="unlog()">
        Cerrar Sesión
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
