<ion-view view-title="Panel de Bingo">
  <ion-content class="padding">
      <form ng-submit="play()">
          <h2 align="center">Zona {{idzona}}</h2>
            <div class="list">
                <label class="item item-input item-select" style="margin:10px 0">
                  <div class="input-label">
                    Sección
                  </div>
                  <select id="seccion" ng-model="seccion" ng-change="consultarCasilla(seccion)" ng-options="seccion for seccion in secciones">
                    <option>Seleccione</option>
                  </select>
                </label>
                <label class="item item-input item-select" style="margin:10px 0">
                  <div class="input-label">
                    Casilla
                  </div>
                    <select id="casillas" ng-model="casilla" ng-options="casilla for casilla in casillas" ng-change="setCasilla(casilla)">
                    <option>Seleccione</option>
                  </select>
                </label>
                <label class="item item-input">              
                    <input ng-model="indice" ng-change="setIndice(indice)" type="number" placeholder="Código">
                </label>
                <button type="submit" class="button button-block button-balanced">Enviar</button>
           </div>
      </form>
  </ion-content>
</ion-view>
