<ion-view view-title="Historial">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate">        
        <h2>Total Bingos enviados: {{chats.length}}</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="chat in chats">
        <img src="img/logo.png">        
        <p>
            <b>Zona: </b>{{chat.zona}}<br/>
            <b>Sección: </b>{{chat.seccion}}<br/>
            <b>Casilla: </b>{{chat.casilla}}<br/>
            <b>Indice: </b>{{chat.indice}}<br/>
        </p>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
